@import "header";
@import "colors";

$link_color: #52ce38;
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: $color-primary-4;
  color: rgba(255, 255, 255, .5);
  a {
    color: $link_color;
    outline: none;
    text-decoration: none;
  }

  .gtd-app {

  }
}

div.gtd-app {
  .main-container {
    //padding: 7px;
    margin: 3px 10px;
    display: flex;
    .left-menu {
      padding-right: 5px;
      border-right: 1px solid $color-secondary-1-1;
      a {
        width: 200px;
        display: block;
        padding: 5px;
        margin-bottom: 2px;
        background-color: $color-secondary-1-1;
        color: $color-secondary-1-4;
      }
      a:hover, a.active {
        background-color: $color-secondary-1-4;
        color: $color-secondary-1-1;
      }
    }
    .main-content {
      margin-left: 10px;
    }
  }
}
