@import "colors";

.gtd-header {
  background-color: $color-primary-0;
  color: $color-primary-5;
  padding: 5px 7px;
  .header-left {
    display: inline-block;
  }
  .header-right {
    display: inline-block;
    float: right;
  }
}
