<div class="gtd-app">
  {{app-header}}
  <div class="main-container">
    <div class="left-menu">
      {{#link-to "main.current" class="t_link-to-current"}}Current{{/link-to}}
      {{#link-to "main.archive" class="t_link-to-archive"}}Archive{{/link-to}}
    </div>
    <div class="main-content">
      {{outlet}}
    </div>
  </div>
</div>
